.header {
    display: flex;
    padding: 92px 20px;
    background-color: #fff;
}

.header-menu {
    padding: 44px 0 40px 33px;
    color: #000;
    font-size: 18px;
    font-weight: normal;
}

.header-menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header-menu-active .header-menu-link {
    text-decoration: none;
}

.header-menu-no-style {
    list-style: none;
}

.header-logo {
    margin: 0 192px 0 45px;
}

.header-logo-image {
    height: 105px;
    width: 135px;
}

.address {
    width: 240px;
    padding: 6px 20px 0 0;
    line-height: 1.333;
    font-size: 18px;
    color: #000;
    font-weight: normal;
}

.address-list {
    list-style: none;
}

.address-location {
    white-space: wrap;
}

.cover {
    min-height: 757px;
    background: url(../images/cover.jpg) no-repeat center / cover;
    color: #fff;
    text-transform: uppercase;
}

.overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #00000099;
}

.cover-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 174px 50px 133px 50px;
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 30px;
}

.increased-letter-spacing {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.position-left {
    display: flex;
    justify-content: start;
}

.position-center {
    display: flex;
    justify-content: center;
    padding: 0 30px 0 0;
}

.position-right {
    display: flex;
    justify-content: end;
}

.cover-description {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 51px 50px;
}

.cover-description-text {
    padding: 12px 0 11px 28px;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.273;
    word-spacing: 19px;
}

.bet-button {
    background: transparent;
    padding: 12px 32px;
    border: 1px solid #fff;
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    padding: 179px 24px 146px;
    background-color: #fff;
}

.lots-title {
    padding: 0 0 27px 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots-cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    color: #fff;
}

.card {
    min-height: 563px;
    width: 334px;
    background: no-repeat center / cover;
}

.card-director {
    background-image: url(../images/card-lot-01.jpg);
}

.card-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-painting {
    background-image: url(../images/card-lot-03.jpg);
}

.card .card-link {
    text-decoration: none;
}

.lots-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px;
}

.card-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

.card-text {
    line-height: 1.2;
    font-size: 20px;
    font-weight: normal;
}

.lots-info {
    padding: 30px 0 0 40px;
    font-size: 20px;
}

.about {
    display: flex;
    gap: 73px;
    padding: 0 24px 175px;
    background-color: #fff;
}

.about-logo {
    padding: 36px 0 0 47px;
}

.about-logo-background {
    height: 240px;
    width: 240px;
    background-color: #000;
    border-radius: 120px;
    padding: 64px 0 0 45px;
}

.about-logo-image {
    height: 114px;
    width: 150px;
}

.about-content {
    padding: 138px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 5px 0 0;
    line-height: 1.2;
    font-size: 20px;
    font-weight: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 51px 88px;
    background-color: #fff;
}

.footer-menu {
    padding: 5px 0 0 0;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: normal;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-active .footer-menu-link {
    text-decoration: none;
}

.footer-socials {
    padding: 6px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.footer-socials-logo {
    height: 48px;
    width: 48px;
}